<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments :: head"></th:block>
    <title>Lista dei film</title>
</head>
<body>
<nav th:replace="fragments :: navbar"></nav>
<div class="container d-flex flex-column justify-content-center align-items-center">
<h1>Lista dei film</h1>
<ul class="list-group w-50 mb-2">
    <li class="list-group-item" th:each="movie : ${movies}">
        <a th:href="@{|/movies/${movie.getId()}|}" th:text="${movie.getTitle()}"></a>
    </li>
</ul>
<p>Torna alla <a href="/">Home</a></p>
</div>
</body>
</html>